<h1>My profile</h1>

<div class="col-md-6 col-lg-4">
  <h3>Change my details</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { method: :put, role: "form" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group col-md-12">
      <div><%= f.label :firstname, class: "sr-only" %><br />
        <%= f.text_field :firstname, placeholder: "First name", class: "form-control", autofocus: true %></div>
      <div><%= f.label :lastname, class: "sr-only" %><br />
        <%= f.text_field :lastname, placeholder: "Last name", class: "form-control" %></div>
      <div><%= f.label :image, "Profile picture", class: "sr-only" %><br />
        <%= f.file_field :image %></div>
      <div><%= f.label :phone, "Phone number", class: "sr-only" %><br />
        <%= f.text_field :phone, placeholder: "Phone number", class: "form-control" %></div>
      <div><%= f.label :email, class: "sr-only" %><br />
      <%= f.email_field :email, placeholder: "Email address", class: "form-control"  %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div><br><%= f.submit "Update details", class: "btn btn-info" %></div>
    </div>
  <% end %>
</div>

<div class="col-md-6 col-lg-4">
  <h3>Change my password</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { method: :put, role: "form" }) do |f| %>
    <div class="form-group col-md-12">
      <div><%= f.label :password, "New password", class: "sr-only" %><br />
      <%= f.password_field :password, :autocomplete => "off", placeholder: "New password", class: "form-control"   %></div>

      <div><%= f.label :password_confirmation, "Password confirmation", class: "sr-only"   %><br />
      <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: "form-control"   %></div>

      <div><%= f.label :current_password, "Old password", class: "sr-only"   %><br />
      <%= f.password_field :current_password, placeholder: "Old password", class: "form-control"   %></div>

      <div><br><%= f.submit "Change password", class: "btn btn-info" %></div>
    </div>
  <% end %>
</div>

<div class="col-md-6 col-lg-4">
  <h3>Cancel my account</h3>

  <div class="form-group col-md-12">
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger"  %></p>
  </div>
  <%= link_to "Back", :back %>
</div>
