<h2>Register</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :Firstname %><br />
  <%= f.text_field :firstname, :autofocus => true %></div>

  <div><%= f.label :lastname %><br />
  <%= f.text_field :lastname %></div>

  <div><%= f.label :image %><br />
  <%= f.file_field :image %></div>

  <div><%= f.label :phone %><br />
  <%= f.text_field :phone %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label(:t_and_c, "I accept the terms and conditions") %><br />
  <%= f.check_box(:t_and_c) %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Register" %></div>
<% end %>

<%= render "devise/shared/links" %>
