<h1>Join Vapp</h1>

<div class="col-md-6 col-lg-4">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form"}) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group col-md-12">
      <div><%= f.label :firstname, class: "sr-only" %><br />
      <%= f.text_field :firstname, :autofocus => true, placeholder: "First name", class: "form-control" %></div>

      <div><%= f.label :lastname, class: "sr-only"  %><br />
      <%= f.text_field :lastname, placeholder: "Last name", class: "form-control"   %></div>

      <div><br><%= f.label :image, "Profile picture" %><br />
      <%= f.file_field :image%></div>

      <div><%= f.label :phone, class: "sr-only" %><br />
      <%= f.text_field :phone, placeholder: "Phone number", class: "form-control"  %></div>

      <div><%= f.label :email, class: "sr-only"  %><br />
      <%= f.email_field :email, placeholder: "Email address", class: "form-control"  %></div>

      <div><%= f.check_box(:t_and_c) %>  <%= f.label(:t_and_c, 'I accept the terms and conditions') %></div>

      <div><%= f.label :password, class: "sr-only"   %><br />
      <%= f.password_field :password, placeholder: "Password", class: "form-control"  %></div>

      <div><%= f.label :password_confirmation, "Password confirmation", class: "sr-only"  %><br />
      <%= f.password_field :password_confirmation, placeholder: "and once more", class: "form-control"   %><br></div>
      <div><%= f.submit "Join", class: "btn btn-primary" %></div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>