<%= form_for(group) do |f| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "span6" %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "span6", rows: 4 %>
  </div>
  <div class="field">
    <%= f.label "Address" %><br />
    <%= f.text_field :location, :class => "span6" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => "span6" %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, :class => "span6" %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website, :class => "span6" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
