<div class='group_listing'>
  <h1 class='name'><%=@group.name%></h1>
  <div><%= image_tag @group.logo.thumb.url unless @group.logo.thumb.url.nil? %>
  </div>
  <%= @group.video_html %>

  <%= @group.splash_image_html %>
  <p class='description' ><%= @group.description%></p>
  <div class='causes'>
    <h2>Causes</h2>
    <p><%= @group.cause_list.join(', ') %></p>
  </div>
</div>

<div class='group_events'>
  <h2>Events</h2>
  <% @events.inject(0) do |count, event| %>
  <% count +=1 %>
  <div>
    <h2><%= event.name %></h2>
    <p>Spaces left: <%= event.remaining_spaces %>
  </div>
  <div class='address'>
    <h3><%= event.location %></h3>
    <div class='map'>
      <% if count == 1%>
      <%= gmaps(map_options: { auto_adjust: false, zoom: 14,  id: "map_#{count}", center_latitude:  event.latitude, center_longitude: event.longitude },
        markers: { data: event.to_gmaps4rails },
        last_map: false
      ) %>
      <% else %>
      <%= gmaps(map_options: { auto_adjust: false, zoom: 14, id: "map_#{count}", center_latitude:  event.latitude, center_longitude: event.longitude },
        markers: { data: event.to_gmaps4rails },
        :scripts     => :none
      ) %>
      <% end %>
    </div>
  </div>

  <% end %>
</div>
