<div class='group_listing'>
  <h1 class='name'><%=@group.name%></h1>
  <div><%= image_tag @group.logo.thumb.url unless @group.logo.thumb.url.nil? %>
  </div>
  <%= @group.video_html %>

  <%= @group.splash_image_html %>
  <p class='description' ><%= @group.description%></p>
  <div class='causes'>
    <h2>Causes</h2>
    <p><%= @group.cause_list.join(', ') %></p>
  </div>
</div>

<%= render partial: "group_events_list" %>
