<div class='row'>
    <% groups.each do |group| %>

    <div class='col-sm-6'>
      <div class='row'>
        <div class='col-xs-3' style="display: table-cell; vertical-align: middle;">
          <%= link_to(image_tag(group.logo.thumb.url, class: 'logo_image img-responsive'), group) unless group.logo.thumb.url.nil? %>
        </div>
        <div class='col-xs-9'>
          <h3><%= link_to group.name, group %></h3>
          <h2 class='slogan lead '><%=group.slogan%></h2>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12 group_video'>
          <% if group.video_html.length >0 %>
            <div class='flex-video'>
              <%= group.video_html %>
            </div>
          <% elsif group.splash_image_html.length >0 %>
            <div class='flex-video'>
              <%= group.splash_image_html %>
            </div>
          <% else %>
            <div class='flex-video'>
              <%= link_to(image_tag(group.logo.detail.url), group) unless group.logo.detail.url.nil? %>
            </div>
          <% end %>
        </div>
        <div class='col-md-12 group_video hidden-xs'>
          <%= truncate(group.description, length: 253, separator: " ", omission: '... (continued)') %>
        </div>
      </div>
    </div>

    <% end %>
</div>
