<h1>Home#index</h1>

<h2>Upcoming Events</h2>
  <div  id="user_events">
    <%= render partial: "shared/event_summary", locals: {events: @events} %>
  </div>

<div id="events_paginator">
  <%= paginate @events, :remote => true, :param_name => "events_page" %>
</div>

<% if current_user && current_user.attending_events? %>
  <h2>Your Events</h2>
  <div  id="user_events">
    <%= render partial: "shared/event_summary", locals: {events: @user_events} %>
  </div>

  <div id="user_events_paginator">
    <%= paginate @user_events, :remote => true, :param_name => "user_events_page"  %>
  </div>
<% end %>


<h2>Groups</h2>
  <div  id="groups">
    <%= render partial: "shared/group_summary", locals: {groups: @groups} %>
  </div>

<div id="groups_paginator">
  <%= paginate @groups, :remote => true, :param_name => "groups_page" %>
</div>


