<h1>Home#index</h1>

<h2>Upcoming Events</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
    </tr>
  <thead>
  <tbody id="events">
    <%= render partial: "shared/event_summary", locals: {events: @events} %>
  <tbody>
</table>

<div id="events_paginator">
  <%= paginate @events, :remote => true, :param_name => "events_page" %>
</div>

<% if current_user %>
  <h2>Your Events</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
      </tr>
    <thead>
    <tbody id="user_events">
    <%= render partial: "shared/event_summary", locals: {events: @user_events} %>
    <tbody>
  </table>


  <div id="user_events_paginator">
    <%= paginate @user_events, :remote => true, :param_name => "user_events_page"  %>
  </div>
<% end %>


<h2>Groups</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  <thead>
  <tbody id="groups">
    <%= render partial: "shared/group_summary", locals: {groups: @groups} %>
  <tbody>
</table>


<div id="groups_paginator">
  <%= paginate @groups, :remote => true, :param_name => "groups_page" %>
</div>


