<!DOCTYPE html>
<html>
<head>
  <title>Vapp</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPPER']}&sensor=false" %>
  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <header>
      <%= render partial: "shared/navigation" %>
    </header>
    <%= render partial: "shared/alerts" %>
    <%= yield %>
  </div>
</body>
<%= yield :scripts %>

</html>
