<!DOCTYPE html>
<html>
<head>
  <title>Vapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPPER']}&sensor=false" %>
  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js'%>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
        <%= link_to "Vapp", root_path %>
          <% if current_user %>
            <%= "Hello #{current_user.firstname}."%>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
              <%= link_to "Register", new_user_registration_path%>
              <%= link_to "Sign in", new_user_session_path%>
              <%= link_to "Forgot your password?", new_user_password_path%>
          <% end %>

    </nav>
  </header>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
